@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}


  header{
    background:  #1e1f26;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color :#03dac6;
    font-weight: 700;
    font-size: 1.8em;

}
.navg a {
    color: #ff0266;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}
.f{
   display: flex;
    justify-content: center;
    padding: 100PX 200PX;
}
.navg a:hover{
    color: black;
}
ul{
	position: absolute;
	top: 150px;
    left: 300PX;

}


ul li{
	display: inline;
    justify-content: center;
 
}

ul li a{
	background-color: #ff0266;
	padding: 14px 90px;
    color: white;
	text-decoration: none;
	margin-right: 9px;
	border-radius: 8px 8px 8px 8px;
    font-size: 16px;
	text-align: center;
    cursor: pointer; 
    display:inline-block;
    transition: 0.7s ease;
}
ul li a:hover{
    background-color: hsl(174, 97%, 43%); 
	transform: scale(1.1);
	color: black;

}

.sec{
    padding: 10PX 5%;
}
.products{
    display: grid;
    grid-template-columns: repeat(Auto-fit, minmax(320PX,1fr));
}

.products .card{
    width: 310PX;
    background: #FFF;
    box-shadow: 0 10PX 20PX rgba(0, 0,0,0.3);
    border-radius: 10PX;
    padding: 5PX;
    margin-bottom: 20PX;
    transition: 0.7s ease
}

.img{
height:     150PX;
width: 300PX;
display: flex;
justify-content: center;


}
.products .card .desc{
    padding: 5PX 20PX;
    opacity: 0.8;
}
.products .card .title{
    font-weight: 900;
    font-size: 20PX;
    color: #424144;
    padding: 0 20PX;
}
.products .card .box {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20PX;

}
.card:hover{
    transform: scale(1.1);
}
.products .card .box .price{
   
    font-size: 20PX;


}
.normal{
    font-size: 20PX;
color: #ff0266;
font-weight: bold;
}
.old{
  
font-size: 20PX;
display: flex;
justify-content: center;
right: 10PX;
 color: #ff0266;
 font-weight: bold;
} 
.products .card .box .btn{
    font-size: 13PX;
    color: #ff0266;
    padding: 10PX 18PX;
    font-weight: 900;
    border: 1PX solid #ff0266;
    border-radius: 20PX;
    text-decoration: none;
    
}
.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #03dac6;
    color: BLACK;
}

.cards-contact{
    padding: 100PX 5%;
}

.icons a {
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 30px;
}
.icone{
    color:#ff0266;
    font-size: 8em;
   text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    color: #ff0266;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}

.info h3{
    color: rgb(11, 7, 7);
    font-size: 1.5em;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}


.content .icon1{
    font-size: 4.5em;
    color: #ff0266;
    text-align: center;
}

.content .info h4 {
color: black;
display: flex;
justify-content: center;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;

}

.content .info p {
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
.info h4 span {
    color: #ff0266;
}

.footer {
    background-color: #ff0266;
    color: #fff;
    padding: 0.7em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;

}
.footer-title span {
    color:black;
}
.footer .incos a{
    font-size: 1.3em;
}

a{
    text-decoration: none;
    
}